# Python & VSCode
*.pyc
__pycache__/
.vscode/
.idea/
.venv/
.env
venv

# Output / temporary files
test_output/
*.wav
*.mp3
*.log
*.txt

# generated outputs
preprocessed_results/
summarization_results/
sentiment_results/
topic_results/
merged_results/
cache_topics/
